body {
  background-color: black;
}

.f {
  background: url(./assets/tiles1.png) -100px 200px;
}

.w {
  background: url(./assets/tiles1.png) 0px 300px;
}

.d {
  background: url(./assets/tiles1.png) 1100px 0px;
}

.item {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 1600%;
  image-rendering: pixelated;
}

.sprite {
  z-index: 2;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  image-rendering: pixelated;
}

@keyframes thief-walk {
  100% { background-position: -462px; }
}

.thief {
  background: url(./assets/thief.png) 0px 0px;
  animation: thief-walk 0.5s steps(5) infinite;
  background-size: 1200%;
}

@keyframes ogre-walk {
  100% { background-position: -300px; }
}

.ogre {
  background: url(./assets/ogre.png) 0px 0px;
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes frog-walk {
  100% { background-position: -300px; }
}

.frog {
  background: url(./assets/frog.png) 0px 0px;
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes strongman-walk {
  100% { background-position: -300px; }
}

.strongman {
  background: url(./assets/strongman.png) 0px 0px;
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

#container {
  position: relative;
  display: grid;
  zoom: 0.5;
}
