body {
  background-color: black;
}

.f {
  background: url(./assets/wood.png);
  background-position-x: -100px;
}

.w {
  background: url(./assets/wood.png);
  background-position-x: 0px;
}

.t {
  background: url(./assets/wood.png);
  background-position-x: -200px;
}

.item {
  z-index: 0;
  background-size: 500%;
  image-rendering: pixelated;
}

.sprite {
  z-index: 2;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  image-rendering: pixelated;
}

@keyframes ogre-walk {
  100% { background-position: -300px; }
}

.ogre {
  background: url(./assets/ogre.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes lizzard-walk {
  100% { background-position: -300px; }
}

.lizzard {
  background: url(./assets/lizzard.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes behemoth-walk {
  100% { background-position: -300px; }
}

.behemoth {
  background: url(./assets/behemoth.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes frog-walk {
  100% { background-position: -300px; }
}

.frog {
  background: url(./assets/frog.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes llama-walk {
  100% { background-position: -300px; }
}

.llama {
  background: url(./assets/llama.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 300%;
}

@keyframes strongman-walk {
  100% { background-position: -300px; }
}

.strongman {
  background: url(./assets/strongman.png);
  animation: ogre-walk 0.5s steps(3) infinite;
  background-size: 400%;
}

#container {
  width: 640px;
  height: 640px;
  position: relative;
  display: grid;
  zoom: 0.5;
}
